@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

body {
    background-color: #FFFFFF;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Colours ------------------------------------ */
.bg-grey-light {
    background-color: #F8F8F8;
}

.bg-grey {
    background-color: #9E9E9E;
}

.bg-grey:hover {
    background-color: #8F8F8F;
}

.bg-orange {
    background-color: #F69222;
}

.bg-orange:hover {
    background-color: #BF7218;
}

.bg-blue {
    background-color: #2AA9E0;
}

.bg-blue:hover {
    background-color: #1F76BB;
}

.bg-red {
    background-color: #E86252;
}

.bg-red:hover {
    background-color: #E54A38;
}

/* Special Fonts and Text Styling ------------------------------------- */
h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

.profile {
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #1F76BB;
}

.profile i {
    padding-right: 2rem;
}

.flashed-messages {
    color: #F69222;
}

.star-rating i {
    color: #F69222;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.strong {
    font-weight: bolder !important;
}

/* Bookmarks ------------------------------------- */
button.bookmark {
    border-color: transparent;
    background-color: transparent;
}

.bookmark:hover .icon-unmarked,
.bookmark .icon-marked {
    display: none;
}

.bookmark:hover .icon-marked {
    display: inline;
}

.bookmark i,
.bookmark i:hover {
    vertical-align: top;
    font-size: 2rem;
}

button.bookmarked {
    border-color: transparent;
    background-color: transparent;
}

.bookmarked:hover .icon-marked,
.bookmarked .icon-unmarked {
    display: none;
}

.bookmarked:hover .icon-unmarked {
    display: inline;
}

.bookmarked i,
.bookmarked i:hover {
    vertical-align: top;
    font-size: 2rem;
}
/* Forms ------------------------------------- */
/* label color */
.input-field label {
    color: #222222;
}

/* label underline focus color */
.input-field input:focus, 
.input-field textarea:focus {
  border-bottom: 1px solid #1F76BB !important;
  box-shadow: 0 1px 0 0 #1F76BB !important;
}

/* label focus color */
.input-field label.active {
  color: #1F76BB !important;
}

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid, 
.input-field input[type=textarea].valid {
    border-bottom: 1px solid #F69222;
    box-shadow: 0 1px 0 0 #F69222;
}

textarea.materialize-textarea.valid {
    border-bottom: 1px solid #F69222;
    box-shadow: 0 1px 0 0 #F69222;
}

/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid,
.input-field input[type=textarea].invalid {
    border-bottom: 1px solid #E86252;
    box-shadow: 0 1px 0 0 #E86252;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #1F76BB;
}

.radio-group>label,
.radio-group>input[type=radio] {
    position: relative !important;
    margin-right: 1em !important;
    background-color: transparent;
}

.dropdown-content li>span {
    color: #1F76BB;
}
/* Navbar ------------------------------------- */
.header-wrapper {
    background: transparent;
    position: relative;
    width: 100%;
    z-index: 9999;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    line-height: 64px;
}

nav .brand-logo {
    padding: 5px;
}

#logoContainer {
    position: absolute;
}

nav ul a,
nav ul a i {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #1F76BB;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

i.nav-icon {
    padding-right: 1rem;
}

.header-search-wrapper {
    background: rgb(31, 118, 187);
    bottom: -2px;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 111;
}

.header-search-cancel i {
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: .5rem;
}

.dropdown-content-search {
    margin: 0;
    min-width: 100% !important;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0 !important;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dropdown-content li>a {
    font-size: 16px;
    color: #1F76BB;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content {
    min-width: 150px;
}
/* Main ------------------------- */

/* Code to make footer sticky found at: https://materializecss.com/footer.html */
main {
    flex: 1 0 auto;
  }

img.cover {
    height: auto;
    width: 50%;
    margin: 5px auto;
}

/* Dividers and Containers ----------------------*/
.subtitle:after {
    content: "";
    background-color: #e0e0e0;
    width: 100px;
    height: 2px;
    display: block;
    margin: 20px auto;
}

.section-md, 
.section-lg, 
.section-xl {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

/* Footer ----------------------*/
footer a {
    color: #1F76BB;
}

footer a:hover{
    color: #222222;
}

/* My Review Page ----------------------*/
.review-container a.btn {
    margin: 5px;
}

.review-container p.title {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.review-container p {
    padding: 5px 0px;
}

/* Solution to keep the two columns side-by-side on mobile screen found at: https://stackoverflow.com/questions/2997767/how-do-i-keep-two-side-by-side-divs-the-same-height */
.review-container div.review-column {
    min-height: 200px;
}

/* Wish List Page ----------------------*/
.card.horizontal .card-image img {
    padding: 24px;
    overflow: hidden;
}

/* Media Queries ----------------------*/

@media (min-width: 768px) {
.section-lg {
    padding-top: 80px;
    padding-bottom: 80px;
}
}

@media screen and (max-width: 991px) and (min-width: 769px) {
.header-search-wrapper .big-search {
    left: 15px;
    right: 15px;
    text-align: center;
    width: auto;
}
}