{% extends "base.html" %}
{% block content %}
    <h3>Add Review</h3>
    <!-- New Review Form -->
    <!-- Card Component copied from https://materializecss.com/cards.html and modified -->
    <div class="row container">
        <!-- Form Input Fields copied from https://materializecss.com/text-inputs.html and modified -->
        <form method="POST" action="{{ url_for('add_review', book_id=this_book._id) }}">
            <div class="card white darken-1">
                <div class="card-content">
                     <div class="row">
                        <!-- Book Title Field-->
                        <div class="input-field col s12">
                        <i class="fas fa-book prefix"></i>
                        <input id="title" name="title" type="text" disabled value="{{ this_book.title }}">
                        <label for="title">Book Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Author Field -->
                        <div class="input-field col s12">
                        <i class="fas fa-user-edit prefix"></i>
                        <input id="author" name="author" type="text" disabled value="{{ this_book.authors[0] }}">
                        <label for="author">Author</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ISBN Field -->
                        <div class="input-field col s12">
                        <i class="fas fa-barcode prefix"></i>
                        <input id="isbn" name="isbn" type="text" disabled value="{{ this_book.isbn }}">
                        <label for="isbn">ISBN 13</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Star Rating Field -->
                        <div class="form-group">
                            <div class="input-field col s12">
                            <i class="fas fa-star-half-alt prefix"></i>
                            <!-- <label for="rating">Rate the Book</label> -->
                                <select name="rating" class="form-control" id="rating" required="">
                                    <option value="" selected="">Rate the book</option>
                                    <option value="1">⭐</option>
                                    <option value="2">⭐ ⭐</option>
                                    <option value="3">⭐ ⭐ ⭐</option>
                                    <option value="4">⭐ ⭐ ⭐ ⭐</option>
                                    <option value="5">⭐ ⭐ ⭐ ⭐ ⭐</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Review Field -->
                        <div class="input-field col s12">
                            <i class="fas fa-edit prefix"></i>
                            <textarea id="review" name="review" class="materialize-textarea validate" required></textarea>
                            <label for="review">Tell us what you thought:</label>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <button type="submit" class="btn bg-orange">Submit <i class="fas fa-check"></i></button>
                    <a href="{{ url_for('add_review', book_id=this_book._id) }}" class="btn bg-blue">Clear <i class="fas fa-times"></i></a>
                </div>
            </div>
        </form>
  </div>
  <div class="row container">
    <div class="col s12">
        <p class="center">
            Already a member? Click <a href="{{ url_for('login') }}">here </a> to log in.
        </p>
    </div>
  </div>
{% endblock %}