{% extends "base.html" %}
{% block content %}

    {% for book in books %}
        {{ book.image_url }}<br>
        {{ book.title }}<br>
        {{ book.author }}<br>
        {{ book.genre }}<br>
        {{ book.isbn }}<br>
    {% endfor %}
    <!-- Carousel component taken from https://materializecss.com/carousel.html and modified -->
    <section class="section-lg bg-grey-light bg-cover center">
        <div class="container">
            <h3>What Our Members Say About Us</h3>
            <div class="carousel carousel-slider center">
                <div class="carousel-item blue white-text" href="#one!">
                    <h2>Jenny Wren</h2>
                    <br>
                    <i class="fas fa-quote-left"></i>
                    <p class="white-text">Read n' Reviewed community has saved me time and money.  I have found great book after great book since joining the site.</p>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="carousel-item orange white-text" href="#two!">
                    <h2>George Hill</h2>
                    <br>
                    <i class="fas fa-quote-left"></i>
                    <p class="white-text">The good members of Read n' Reviewed keep me up to date with the latest books.</p>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="carousel-item blue white-text" href="#three!">
                    <h2>Bernard Boyce</h2>
                    <br>
                    <i class="fas fa-quote-left"></i>
                    <p class="white-text">Good honest reviews.</p>
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="carousel-item orange white-text" href="#four!">
                    <h2>Mary Murphy</h2>
                    <br>
                    <i class="fas fa-quote-left"></i>
                    <p class="white-text">When I hear about a good book now I just pop it into my Wish List. Such a handy feature.</p>
                    <i class="fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </section>

{% endblock %}