{% extends "base.html" %}
{% block content %}
    <!-- My Reviews -->
    <div class="row">
        <div class="col s12">
            <h3 class="center subtitle">My Reviews</h3>
        </div>
    </div>
    {% for review in books_and_reviews %}
        <div class="row">
            <div class="col s3 l2">
                <img src="{{ review.thumbnail }}" alt="{{ review.title }} by {{ review.authors[0] }} book cover">
            </div>
            <div class="col s3 l2">
                {{ review.title }}
            </div>
            <div class="col s3 l2">
                {{ review.authors[0] }}
            </div>
            <div class="col s3 l2 star-rating">
                {{ review.rating }}&nbsp;<i class="fas fa-star"></i>
            </div>
            <div class="col s3 l2">
                {{ review.review_date }}
            </div>
            <div class="col s3 l2">
                <a href="{{ url_for('view_book', book_id=review.book_id) }}">Read review...</a>
            </div>
            <div class="col s3 l2">
                <a href="{{ url_for('edit_review', book_id=review.book_id, review_id=review._id) }}" class="btn bg-grey"><i class="fas fa-user-edit"></i> Edit</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}