{% extends "base.html" %}
{% block content %}
    <!-- Selected Book -->
    <div class="row">
        <div class="col s12">
            <h3 class="center subtitle">{{ this_book.title }}</h3>
        </div>
    </div>
        <div class="row">
            <!-- Selected Book Cover Image -->
            <div class="col s12 m6 center">
                <img src="{{ this_book.thumbnail }}" class="cover">
            </div>
            <div class="col s12 m6 left-align">
                <!-- Selected Book Title, Author and Description -->
                <p>Author: {{ this_book.authors[0] }}</p>
                <p>Category: {{ this_book.category }}</p>
                <p>Description: {{ this_book.description }}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
            </div>
            <!-- Selected Book Information -->
            <div class="col s12 m6 left-align">
                <p>Page Count: {{ this_book.page_count }}</p> 
                <p>Date Published: {{ this_book.published_date }}</p> 
                <p>Publisher: {{ this_book.publisher }}</p> 
                <p>ISBN 13: {{ this_book.isbn }}</p> 
            </div>                
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m6">
            </div>
        <div class="row my-reviews">
            <div class="col s4">
                <p>Reviewed By: {{ my_review.created_by }}</p>
                <p>On: {{ my_review.review_date }}</p>
                <p>                                        
                    <a href="{{ url_for('edit_review', book_id=this_book._id, review_id=my_review._id) }}" class="btn bg-grey"><i class="fas fa-user-edit"></i> Edit</a>&nbsp;                                       
                    <a href="{{ url_for('delete_review', book_id=this_book._id, review_id=my_review._id) }}" class="btn bg-red"><i class="fas fa-trash-alt"></i> Delete</a>
                </p>
            </div>
            <div class="col s8 star-rating">
                <p>Star Rating: 
                    {% set starRating = my_review.rating | int %}
                    {% for i in range(starRating) %}
                        <i class="fas fa-star"></i>
                    {% endfor %} 
                </p>
                <p>Review: {{ my_review.review }}
                </p>
            </div>
        </div>
{% endblock %}