{% extends "base.html" %}
{% block content %}
<h3 class="subtitle">Registration Form</h3>
<!-- Registration Form -->
<!-- Card Component copied from https://materializecss.com/cards.html and modified -->
<div class="row container">
    <!-- Form Input Fields copied from https://materializecss.com/text-inputs.html and modified -->
    <form method="POST" action="{{ url_for('register') }}">
        <div class="card white darken-1">
            <div class="card-content">
                <div class="row">
                    <!-- Username Field-->
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" minlength="8" maxlength="15"
                            pattern="^[a-zA-Z0-9]{8,15}$" class="validate tooltipped" data-position="bottom"
                            data-tooltip="Enter a username between 8 and 15 characters in length. No spaces."
                            autocomplete="username" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Password Field -->
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="8" maxlength="15"
                            pattern="^.*[a-zA-Z0-9',.-]+.*$" class="validate tooltipped" data-position="bottom"
                            data-tooltip="Enter a password containing between 8 and 15 characters. No spaces."
                            autocomplete="new-password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Email Address Field -->
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="card-action center">
                <button type="submit" class="btn bg-orange"><i class="fas fa-sign-in-alt"></i> Register</button>
                <a href="{{ url_for('get_books') }}" class="btn bg-blue"><i class="fas fa-home"></i> Home</a>
            </div>
        </div>
    </form>
</div>
<div class="row container">
    <div class="col s12">
        <p class="center">
            Already a member? Click <a href="{{ url_for('login') }}">here </a> to log in.
        </p>
    </div>
</div>
{% endblock %}