{% extends "base.html" %}
{% block content %}
    <!-- Selected Book -->
    <div class="row">
        <div class="col s12">
            <h3 class="center subtitle">{{ this_book.title }}</h3>
        </div>
    </div>
        <div class="row">
            <div class="col s12 m6 center">
                <img src="{{ this_book.thumbnail }}" class="cover"><br>
            </div>
            <div class="col s12 m6 left-align">
                <p>Author: {{ this_book.authors[0] }}</p>
                <p>Category: {{ this_book.category }}</p>
                <p>Description: {{ this_book.description }}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col s6 m3 center">
                <a href="{{ book_purchase_url }}" rel="nofollow" target="_blank" title="Buy it now" class="button">
                    <span class="btn blue">Buy it now</span> 
                </a>
            </div>
            <div class="col s6 m3">
            {% if this_book_reviews %}
                <!-- If the user has not already written a review for this book display the Write a Review button -->
                {% if session.user not in reviewers %}
                    <a href="{{ url_for('add_review', book_id=this_book._id) }}" rel="nofollow" title="Buy it now" class="button">
                        <span class="btn orange">Write a Review</span> 
                    </a>
                {% endif %}
            {% else %}
                    <a href="{{ url_for('add_review', book_id=this_book._id) }}" rel="nofollow" title="Buy it now" class="button">
                        <span class="btn orange">Write a Review</span> 
                    </a>
            {% endif %}
            </div>
            <div class="col s12 m6 left-align">
                <p>Page Count: {{ this_book.page_count }}</p> 
                <p>Date Published: {{ this_book.published_date }}</p> 
                <p>Publisher: {{ this_book.publisher }}</p> 
                <p>ISBN 13: {{ this_book.isbn }}</p> 
            </div>
        </div>
        <!-- Message to display if no reviews exist -->
        {% if not this_book_reviews %}
            <div class="row">
                <div class="col s12 m6 offset-m6">
                    <p>No reviews currently exist for this book.</p>
                </div>
            </div>
        {% else %}
            {% for review in this_book_reviews %}
                <div class="row">
                    <div class="col s4 m3 offset-m1">
                        <p>Reviewed By: {{ review.created_by }}</p>
                        <p>On: {{ review.review_date }}</p>
                            <!-- Check to see whether the logged in user wrote this review and if so, don't display the upvote button -->
                            {% if session.user and review.created_by != session.user %}
                                {% if session.user in review.upvoters %}
                                {% else %}
                                    <p>
                                        <form action="{{ url_for('upvote_review', review_id=review._id ) }}" method="post">
                                            <button type="submit" name="upvote" value="1" class="btn grey">{{ review.review_score }} <i class="fas fa-caret-up prefix"></i> Upvote</button>
                                        </form>
                                    </p>
                                {% endif %}
                            {% endif %}
                    </div>
                    <div class="col s8 star-rating">
                        <p>Star Rating: 
                            {% set starRating = review.rating | int %}
                            {% for i in range(starRating) %}
                                <i class="fas fa-star"></i>
                            {% endfor %} 
                        </p>
                        <p>Review: {{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}        
        {% endif %}



{% endblock %}