{% extends "base.html" %}
{% block content %}
    <!-- One Book -->
    <div class="row">
        <div class="col s12">
            <h3 class="center subtitle">{{ this_book.title }}</h3>
        </div>
    </div>
        <div class="row">
            <div class="col s12 m6 center">
                <img src="{{ this_book.thumbnail }}" class="cover"><br>
            </div>
            <div class="col s12 m6 left-align">
                <p>Author: {{ this_book.author[0] }}</p>
                <p>Genre: {{ this_book.genre }}</p>
                <p>Description: {{ this_book.description }}</p> 
                <p>Page Count: {{ this_book.page_count }}</p> 
                <p>Date Published: {{ this_book.published_date }}</p> 
                <p>Publisher: {{ this_book.publisher }}</p> 
                <p>ISBN 13: {{ this_book.isbn }}</p> 
            </div>
        </div>

{% endblock %}