{% extends "base.html" %}
{% block content %}
    <!-- Wish List -->
    <div class="row container">
        <div class="col s12">
            <h3 class="center subtitle">Wish List</h3>
        </div>
    </div>
    <!-- Card Component copied from https://materializecss.com/cards.html and modified -->
    <div class="row container">
    {% for book in booklist %}
        <div class="col s12 m6">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ book.thumbnail }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="bookmark">          
                            <i class="fas fa-bookmark icon-marked right"></i>
                            <i class="fas fa-bookmark icon-unmarked right"></i>
                        </p>
                        <br>
                        <h5 class="header">{{ book.title }}</h5>
                        <br>
                        <p class="center">{{ book.authors[0] }}</p>
                        <br> 
                    </div>
                    <div class="card-action center">
                        <a href="{{ book.book_purchase_url }}" rel="nofollow" target="_blank" title="Buy it now" class="button">
                            <span class="btn bg-blue">Buy it now</span> 
                        </a>&nbsp;
                        <a href="{{ url_for('view_book', book_id=book._id) }}" class="button">View Book</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}